//** Custom **//
body { 
	margin: 0; 
	padding: 0;
	font-family: 'Conv_Gotham-Light';

	img { /*max-width: 400px;*/ }
	p { color: #fff; margin-bottom: 6px;}
	a { 
		color: #fff; 
		text-decoration: none;
		&:hover{ color: #30ad37; } 
	}
	h1, h2, h3, h4, h5, h6 { color: #fff; margin: 4px 0; text-transform: uppercase; }	
} // body

header, footer {	
 	margin: 0 auto;
 	width: 100%;
} // header footer

.wrap { display: block; position: relative; }




/* ===== Horizontal Rule ===== */
.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel, .zipcode {
  font-size: 1em;
  margin: .5em 2em;
  width: 500px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.sel::before {
  position: absolute;
  content: '\f078';
  font-family: 'FontAwesome';
  font-size: 1.3em;
  color: #755d5d;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.sel__placeholder, .zipcode {
  display: block;
  font-family: 'Quicksand';
  font-size: 16px;
  color: #d4cece;
  padding: 1.2em 3.5em;
  text-align: left;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: visible;
}

.zipcode {
  padding: 1.2em 0;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2em 3.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: calc(100%);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 14px;
  box-shadow: 0px 0px 9px 0px #3d7db4;
}

.sel.active .sel__box {
  display: block;
  -webkit-animation: fadeInUp 500ms;
          animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'Quicksand';
  font-size: 16px;
  color: #838e95;
  padding: 6px 2.75em;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.one, .two {
	border-radius: 50%;
	width: 28px;
	height: 28px;
	padding: 3px;
	background: #d68d00;
	color: #fff;
	text-align: center;
	font: 14px Arial, sans-serif;
	position: absolute;
	left: 10px;
	z-index: 5;
	top: 16px;
	font-weight: bold;
	line-height: 22px;
}

.two { top: 46px; }

.zcode {
  margin: 0 3.75em;
  padding: 0;
  height: auto;
  width: 425px;
  border: none;
  background: none;
}
label {
	display: block;
	text-align: left;
	color: #fff;
	font-family: Arial;
}


.zzipcode {
  background: #fff;
	width: 500px;
	border-radius: 50px;
	padding: 1.2em;
	padding: 12px 20px;;
	position: relative;
}
input:focus {
  outline: none;
}
input::placeholder {
   color: #d4cece;
}
.zzipcode input {
  background: none;
  font-family: 'Quicksand';
  font-size: 16px;
  width: 93%;
  height: 37px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  margin-left: 27px;
}

.sel__box__options:hover {
  background-color: #ebedef;
  color: #000;
}

/* ----- Select Box Black Panther ----- */
.sel, .zipcode {
    background: #fbf8f8;
    border-radius: 50px;
}

.sel--black-panther {
  z-index: 3;
  margin: 0;
}



/* ===== Keyframes ===== */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}