//** Default Color **//
$def-bgpage				: 	#080808;
$white					:   #fff;
$black					:	#000;		

//** Add Variables Here**//

@font-face {
  font-family: 'Gotham-Light';
  src: url('../font/Gotham-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




